body {
  background: linear-gradient(89deg, #ffffff, #dcd0c0, #e4cbaa);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 11s ease infinite;
  -moz-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;
  text-align: center;
  margin: 0 auto; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.top-bar {
  background-color: #FDF3E7;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  color: #373737; }
  .top-bar .difficulty-selection {
    padding: 20px;
    border-bottom: 2px solid #C0B283; }
  .top-bar .guess-container {
    padding: 20px;
    border-bottom: 10px double #C0B283; }
    .top-bar .guess-container #guessByLetter {
      display: inline; }
    .top-bar .guess-container #guessByWord {
      display: inline; }

.button {
  height: 40px;
  width: 80px;
  background-color: #C0B283;
  border: 2px solid #373737;
  color: black;
  font-family: 'Dosis', sans-serif;
  display: inline;
  font-size: 32px;
  padding: 2px;
  transition: 1s all; }
  .button:hover {
    background-color: #373737; }

.word-container {
  min-height: 25%;
  height: 350px; }
  .word-container #back-ground {
    min-height: 25%;
    height: 250px;
    margin: 25px;
    background-color: lightgrey;
    -webkit-border-radius: 1px 100px 1px 100px;
    border-radius: 1px 100px 1px 100px; }
    .word-container #back-ground #wordFill .letter0 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }
    .word-container #back-ground #wordFill .letter1 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }
    .word-container #back-ground #wordFill .letter2 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }
    .word-container #back-ground #wordFill .letter3 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }
    .word-container #back-ground #wordFill .letter4 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }
    .word-container #back-ground #wordFill .letter5 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }
    .word-container #back-ground #wordFill .letter6 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }
    .word-container #back-ground #wordFill .letter7 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }
    .word-container #back-ground #wordFill .letter8 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }
    .word-container #back-ground #wordFill .letter9 {
      color: #C0B283;
      font-size: 50px;
      display: inline-flex;
      margin: 25px;
      justify-content: space-around;
      margin-top: 90px;
      font-family: 'Dosis', sans-serif;
      display: none; }

.points-container {
  min-height: 25%;
  height: 350px; }
  .points-container .points-text {
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    color: #373737; }
  .points-container .points-background {
    min-height: 25%;
    height: 250px;
    margin: 25px;
    background-color: lightgrey;
    -webkit-border-radius: 100px 1px 100px 1px;
    border-radius: 100px 1px 100px 1px; }
    .points-container .points-background .size-of-point-divs {
      display: inline-flex;
      justify-content: space-around;
      min-height: 20%;
      height: 200px;
      padding: 10px;
      margin: 10px;
      background-color: #C0B283;
      width: 150px;
      border-radius: 50%;
      border: 2px solid black;
      transition: all 1s; }
      .points-container .points-background .size-of-point-divs:hover {
        background-color: white; }

/*# sourceMappingURL=style.css.map */
