.top-bar{
	background-color: #fff;
	font-family: 'Dosis', sans-serif;
	font-size: 40px;
	.difficulty-selection{
		padding:20px;
		border-bottom: 2px solid lightgrey;

	}
	.guess-container{
		padding: 20px;
		border-bottom: 2px solid grey;
		#guessByLetter{
			display: inline;
		}
		#guessByWord{
			display: inline;
		}
	}


}